<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368512851968-psjp5ep1vag05q22n7o3l8h70fbr25jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368512851968-psjp5ep1vag05q22n7o3l8h70fbr25jk</string>
	<key>API_KEY</key>
	<string>AIzaSyBTnAAB6r_npfTC_DSX-K8-di2vigdEC3k</string>
	<key>GCM_SENDER_ID</key>
	<string>368512851968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppinglive</string>
	<key>PROJECT_ID</key>
	<string>shopping-live-1450d</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-live-1450d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368512851968:ios:ca40dafbf9490a92dbf8e5</string>
</dict>
</plist>